{% extends "base.html" %}
{% block content %}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>О нас</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="/static/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/aboutUs.css">
</head>
<body>


<script src="/static/scripts/header.js"></script>

<section class="content">


    <section class="mainName">
        <section class="name">
            О нас
        </section>
    </section>


    <section class="big_discription">
        {{ text.value }}
    </section>

    <section class="little_discription">
        {{ texts.value }}

    </section>

    <section class="timetable">
        <section class="value">
            График работы
        </section>
    </section>

    <section class="table">
        <section class="timetable_value">
            <section class="str">
                <section class="stab"></section>
                {% for contact in contacts %}
                <section class="column">
                    <section class=" cell">{{ contact.name }}</section>
                    <section class="cell">{{ contact.value }}</section>
                </section>
                {% endfor %}
                <section class="stab"></section>
            </section>
        </section>
    </section>

</section>


</body>
{% endblock %}