<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    <title>OOO"ФерумБел"</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {#
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    #}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  {% include "header.html" %}

    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
</body>
</html>