{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    <title>Контакты"</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {#
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    #}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/contacts.css">

</head>
<link rel="stylesheet" href="/static/styles/contacts.css">
<body>


<script src="/static/scripts/header.js"></script>

<section class="content">


    <section class="mainName">
        <section class="name">
            Контакты
        </section>
    </section>


    <section class="row contacts">
        {% for contact in contacts %}
        <section class="contact">
            <section class="col-lg-5 col-sm-5  col-md-5 col-5 Name">
                {{ contact.pole}}
            </section>
            <section class="col-lg-2 col-sm-2  col-md-2 col-2 value">
                {{ contact.value}}
            </section>
            <a href="{{ contact.adr }}" target="_blank" class="col-lg-5 col-sm-5  col-md-5 col-5 url">
                Посмотреть на карте
            </a>
        </section>
        {% endfor %}

    </section>


</section>


</body>
{% endblock %}