{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if category %}
    <title>{{ category }}</title>
    {% else %}
    <title>Услуги</title>
    {% endif %}
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/goods.css">

</head>
<body>


<script src="/static/scripts/header.js"></script>
<img src="/media/1625592856_12_kartinkin_com_p_chertezhnii_fon_krasivie_foni_13.jpg" style="
                overflow: hidden;
                z-index: -5;
                position:fixed;
                width:100%;
                height: auto; 
                opacity: 0.50; 
                left:50%;
                top:60%;
                transform: translate3d(-50%,-50%,0);
                ">
<section class="content">


    <section class="mainName">
        <section class="name">
            Услуги
        </section>
    </section>


    <form method="GET">
        <section class="filters">

            <section class="mainFilter">
                <section class="name">
                    Разделы:
                </section>
                <select class="filter_area" name="category" aria-label="Default select example">
                    {% if category %}
                    <option selected name="category" value="{{ category }}">{{ category }}</option>
                    {% if catetory != 'Все'%}
                    <option name="category" value="Все">Все</option>
                    {% endif %}
                    {% for categor in categorys %}
                    {% if categor.Text != category %}
                    <option name="category" value="{{ categor.Text }}">{{ categor.Text }}</option>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <option selected>Все</option>
                    {% for category in categorys %}
                        <option name="category" value="{{ category.Text }}">{{ category.Text }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                {#                <section class="value">#}
                {#                    <section class="filters">#}
                {#                        <section class="active_filter">#}
                {#                            Все#}
                {#                        </section>#}
                {#                        <section class="other_filters">#}
                {#                            {% for catetory in categorys %}#}
                {#                                <section class="filter" name="category">#}
                {##}
                {#                                    {{ catetory.Text }}#}
                {##}
                {#                                </section>#}
                {#                            {% endfor %}#}
                {#                        </section>#}
                {#                    </section>#}
                {#                    <section class="photo">#}
                {#                        <img src="/static/photos/arrow.png" alt="">#}
                {#                    </section>#}
                {#                </section>#}
            </section>

            <section class="mainFilter">
                <select class=" filter_area" name="way" aria-label="Default select example">
                    {% if way %}
                    {% if way == "По популярности" %}
                    <option selected value="По популярности">По популярности</option>
                    <option value="По возростанию цены">По возрастанию цены</option>
                    <option value="По убыванию цены">По убыванию цены</option>
                    {% endif %}
                    {% if way == "По возрастанию цены" %}
                    <option value="По популярности">По популярности</option>
                    <option selected value="По возростанию цены">По возрастанию цены</option>
                    <option value="По убыванию цены">По убыванию цены</option>
                    {% endif %}
                    {% if way == "По убыванию цены" %}
                    <option value="По популярности">По популярности</option>
                    <option value="По возростанию цены">По возрастанию цены</option>
                    <option selected value="По убыванию цены">По убыванию цены</option>
                    {% endif %}
                    {% else %}
                    <option selected value="По популярности">По популярности</option>
                    <option value="По возростанию цены">По возрастанию цены</option>
                    <option value="По убыванию цены">По убыванию цены</option>
                    {% endif %}
                </select>
                {#                <section class="value">#}
                {#                    <section class="filters">#}
                {#                        <section id="active_filter" name="way" class="active_filter">#}
                {#                            По популярности#}
                {#                        </section>#}
                {##}
                {#                        <section id="other_filters" class="other_filters">#}
                {#                            <section id="filter_1" class="filter">#}
                {#                                По возростанию цены#}
                {#                            </section>#}
                {#                            <section id="filter_2" class="filter">#}
                {#                                По убыванию цены#}
                {#                            </section>#}
                {#                        </section>#}
                {#                    </section>#}
                {#                    <section id="arr2" class="photo">#}
                {#                        <img id="photo2" src="/static/photos/arrow.png" alt="">#}
                {#                    </section>#}
                {#                </section>#}
            </section>
            <section class="mainFilter2">
                <section class="name">
                    Цена:
                </section>
                {#                <section class="value">#}
                <section>
                    <div class="costs_forms">
                        {% if min_price %}
                            <input name="min_price" value= "{{ min_price }}" class="form-control input" placeholder="от" id="exampleFormControlInput1"> <div class="rubles">р.</div>

                            {% else %}
                            <input name="min_price" value="" class="form-control input" placeholder="от" id="exampleFormControlInput1"> <div class="rubles">р.</div>

                            {% endif %}
                    </div>
                </section>
                {#                    <section class="filters">#}
                {##}
                {#                        <input name="price_min" type="number" class="input">#}
                {##}
                {#                    </section>#}
                {#                </section>#}

                <section>
                    <div class="costs_forms">
                        {% if max_price %}
                            <input name="max_price" value= "{{ max_price }}" class="form-control input" placeholder="до" id="exampleFormControlInput1"> <div class="rubles">р.</div>
                            {% else %}
                            <input name="max_price" value="" class="form-control input" placeholder="до" id="exampleFormControlInput1"> <div class="rubles">р.</div>
                            {% endif %}
                    </div>
                </section>
                {#                <section class="value">#}
                {#                    <section class="filters">#}
                {#                        <input name="price_max" type="number" class="input">#}
                {#                    </section>#}
                {#                </section>#}


            </section>


            <section class="but">
                <button class="button">
                    Применить
                </button>
            </section>
        </section>
    </form>

    <script src="/static/scripts/goods.js"></script>
    {% if products %}
        <section class="products">
            {% for product in products %}
                <a href="/product/{{ product.id }}/" class=" product">
                    <section class="min_product">
                        <section class="photo">
                            <img src="{{ product.Image.url }}" alt="">
                        </section>
                        <section class="coast">
                            {{ product.coast }}
                        </section>
                        <section class="name">
                            {{ product.name }}
                        </section>
                    </section>
                </a>
            {% endfor %}

        </section>
    {% else %}
        <section class="none" style="text-align: center; color: #170631; font-size: 3em; margin: 2em 0em;">
            По данному запросу товары не заданы
        </section>
        <section class="none" style="text-align: center; color: #170631; font-size: 2em; margin: 2em 0em 5em 0em;">
            Измените параметры поиска
        </section>
    {% endif %}

</section>

</body>
{% endblock %}