{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ products.name }}</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    <script src="/static/scripts/photo_gallery.js"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/good.css">

</head>
<body>

<script src="/static/scripts/header.js"></script>

<section class="content">
            {% if a %}
            <div class="alert alert-success">
                Заказ добавлен в корзину
            </div>
            {% endif %}
        <a href="/catalog/">
            <section class="button">
                <button class="text">
                    <img class="back_logo" src="/media/photos/back_logo.png"/>
                    Назад
                </button>
            </section>
        </a>


    <section class="mainName">
        <section class="name">
            {{ products.name }}
        </section>

    </section>


    <section class=" first_level">

        <section class=" value">
            <section class="gallery_of_photos">
                    <!-- The grid: four columns -->
                <div class="row">
                        <div class="column">
                            <img src="{{ products.Image.url }}" alt="Photo"  style="width:100%" onclick="openImg(this)">
                        </div>
                    {% for photo in photos %}

                        <div class="column">

                            <img src="{{ photo.photo.url }}" alt="Photo"  style="width:100%" onclick="openImg(this)">

                        </div>

                    {% endfor %}
                </div>

                <!-- The expanding image container -->
                <div class="gallery_container">
                  <!-- Close the image -->
                  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

                  <!-- Expanded image -->
                  <img id="expandedImg" style="width:100%">

                  <!-- Image text -->
                  <div id="imgtext"></div>
                </div>

        </section>
            <section class="information">

                <section class="code">
                    Код товара: №{{ products.id }}
                </section>

                <section class="price">
                    {{ products.coast }} руб.
                </section>

            </section>
        </section>

    </section>
            <form method="POST">
                    {% csrf_token %}
    <section class="second_level">
        <section class="discription">
            {{ products.description|linebreaks }}
        </section>
        <section class="charact_table">
            <p class="char_text">Основные характеристики</p>
                <table class="characteristics">
                    <tbody>
                        {% for meaning in hars %}
                            <tr>
                                <td>{{ meaning.pole }}</td>
                                <td>{{ meaning.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </section>

    </section>

        <section class=" third_level">


            <section class=" text">
                Количество:
            </section>

            <section class="input">
                <input type="number" value="1" name="count" class=" value">
                </input>
            </section>


            <button class=" push" name="action" value="dop">
                В корзину
            </button>

        </section>

</form>
</section>


</body>
{% endblock %}


