{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico">
    {% if category %}
    <title>{{ category }}</title>
    {% else %}
    <title>Товары</title>
    {% endif %}
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {#
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    #}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/goods.css">

</head>
<body>


<script src="/static/scripts/header.js"></script>

<section class="content">


    <section class="mainName">
        <section class="name">
            Товары
        </section>
    </section>


    <form method="GET">
        <section class="row string">

            <section class="col-lg-3  col-sm-3 col-md-3 col-3 mainFilter">
                <section class="name">
                    Разделы :
                </section>
                <select class="mb-3" name="category" aria-label="Default select example">
                    {% if category %}
                    <option selected name="category" value="{{ category }}">{{ category }}</option>
                    {% if catetory != 'Все'%}
                    <option name="category" value="Все">Все</option>
                    {% endif %}
                    {% for categor in categorys %}
                    {% if categor.Text != category %}
                    <option name="category" value="{{ categor.Text }}">{{ categor.Text }}</option>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <option selected>Все</option>
                    {% for category in categorys %}
                        <option name="category" value="{{ category.Text }}">{{ category.Text }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </section>

            <section class="col-lg-2  col-sm-2 col-md-2 col-2 mainFilter">
                <select class="mb-3" name="way" aria-label="Default select example">
                    {% if way %}
                    {% if way == "По популярности" %}
                    <option selected value="По популярности" name="way">По популярности</option>
                    <option value="По возростанию цены" name="way">По возростанию цены</option>
                    <option value="По убыванию цены" name="way">По убыванию цены</option>
                    {% endif %}
                    {% if way == "По возростанию цены" %}
                    <option selected value="По возростанию цены" name="way">По возростанию цены</option>
                    <option value="По популярности" name="way">По популярности</option>
                    <option value="По убыванию цены" name="way">По убыванию цены</option>
                    {% endif %}
                    {% if way == "По убыванию цены" %}
                    <option selected value="По убыванию цены" name="way">По убыванию цены</option>
                    <option value="По популярности" name="way">По популярности</option>
                    <option value="По возростанию цены" name="way">По возростанию цены</option>
                    {% endif %}
                    {% else %}
                    <option selected value="По популярности" name="way" value="По популярности">По популярности</option>
                    <option value="По возростанию цены" name="way" value="По возростанию цены">По возростанию цены</option>
                    <option value="По убыванию цены" name="way" value="По убыванию цены">По убыванию цены</option>
                    {% endif %}
                </select>
            </section>
            <section class="col-lg-5  col-sm-5 col-md-5 col-5 mainFilter">
                <section class="name">
                    Цена : от
                </section>
                {#                <section class="value">#}
                <section>
                    <div class="mb-3">
                            {% if min_price %}
                            <input name="min_price" value= "{{ min_price }}" class="form-control" id="exampleFormControlInput1">
                            {% else %}
                            <input name="min_price" value="" class="form-control" id="exampleFormControlInput1">
                            {% endif %}
                    </div>
                </section>
                <section class="name">
                    р. до
                </section>
                <section>
                    <div class="mb-3">
                        {% if max_price %}
                            <input name="max_price" value= "{{ max_price }}" class="form-control" id="exampleFormControlInput1">
                            {% else %}
                            <input name="max_price" value="" class="form-control" id="exampleFormControlInput1">
                            {% endif %}
                    </div>
                </section>
                <section class="name">
                    р.
                </section>

            </section>


            <section class="col-lg-2  col-sm-2 col-md-2 col-2">
                <button class="button">
                    Применить
                </button>
            </section>
        </section>
    </form>

    <script src="/static/scripts/goods.js"></script>
    {% if products %}
        <section class="products">
            {% for product in products %}
                <a href="/product/{{ product.id }}/" class=" product">
                    <section class="min_product">
                        <section class="photo">
                            <img src="{{ product.Image.url }}" alt="">
                        </section>
                        <section class="coast">
                            {{ product.coast }}
                        </section>
                        <section class="name">
                            {{ product.name }}
                        </section>
                    </section>
                </a>
            {% endfor %}

        </section>
    {% else %}
        <section class="none" style="text-align: center; color: #170631; font-size: 3em; margin: 2em 0em;">
            По данному запросу товары не заданы
        </section>
        <section class="none" style="text-align: center; color: #170631; font-size: 2em; margin: 2em 0em 5em 0em;">
            Измените параметры поиска
        </section>
    {% endif %}

</section>


</body>
{% endblock %}