{% extends "base.html" %}
{% block content %}
<head>
    <link type="image/x-icon" href="/media/photos/favicon.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="/media/photos/favicon.ico" rel="icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/media/photos/favicon.ico">
    <title>OOO"ФерумБел"</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    {#
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    #}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/index.css">

</head>
<body>


<script src="/static/scripts/header.js"></script>

<section class="content">


    <section class="mainName">
        <section class="name">
            ООО "ФерумБел"
        </section>
    </section>

    <section class="row">
        <section class="col-lg-12  col-sm-12 col-md-12 col-12 discription">
            <section class="value">
                {{ text.value }}
            </section>
        </section>
    </section>

    <section>

        <section class="row">
            <section class="col-lg-12  col-sm-12 col-md-12 col-12 photo">
                <img src="/media/photos/mainphoto.png" alt="">
            </section>
        </section>


        <section class="partition">
            <section class="name">
                Популярные товары
            </section>
        </section>

        <section class="products">
            {% for product in products %}
            <section class=" product">
                <a href="/product/{{ product.id }}/">
                    <section class="min_product">
                        <section class="photo">

                            <img src="{{ product.Image.url }}" alt="">

                        </section>
                        <section class="coast">
                            {{ product.coast }}
                        </section>
                        <section class="name">
                            {{ product.name }}
                        </section>
                    </section>
                </a>
            </section>
            {% endfor %}

        </section>


        <section class="benefits_name">
            Наши преимущества
        </section>


        <section class="benefits">

            {% for benefit in benefits %}
            <section class="benefit">
                <section class="photo">
                    <img src="{{ benefit.photo.url }}" alt="">
                </section>
                <section class="name">
                    {{ benefit.value }}
                </section>
            </section>
            {% endfor %}
        </section>

        <section class="partition">
            <section class="name">
                Основные направления
            </section>
        </section>

        <section class="row products">
            {% for category in categorys %}

            <section class="col-lg-4  col-sm-4 col-md-4 col-4 product">
                <a href="/category/{{ category.id}}/">
                    <section class="min_product">
                        <section class="photo">
                            <img src="{{ category.Photo.url }}" alt="">
                        </section>
                        <section class="name add">
                            {{ category.Text }}
                        </section>
                    </section>
                </a>
            </section>

            {% endfor %}
        </section>

    </section>
</section>


</body>
{% endblock %}


