<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ошибка</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
{#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/mistake.css">
</head>
<body>

    <header id="header">
        <div class="row">
            
            <div class="col-lg-3 col-sm-3 col-md-3 col-5 logo2">

            <a href="/" class="logo"><img src="/media/photos/logo.png"/></a>
            <a href="/" class="name">Ferum Bel</a>

        </div>

            <div class="col-lg-2 col-sm-2 col-md-2 col-2 ">
              <input id="find" placeholder="Поиск" style="margin-top:2.2em;  position: relative; width:100%; overflow: hidden;  font-size:0.9em; padding: 0.3em 0.5em;  "  type="text"> 
               <section style="display: none; margin-top: 0.2em; border:solid 1px #170631; position:absolute; width: 100%; background-color: #FFFFFF; color:#170631;" id="find_goods">
                   {%for i in product%}
                <a href="/product/{{ i.id }}/"><section  class="find_good"> {{ i.name }} </section></a>
                
                {%endfor%}
                <section id="not_find" style="display:none; color: #170631 !important;
                overflow: hidden; 
                padding: 0.5em 0.3em;";  > Товары не найдены </section>
               </section>
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="products">
                <section class="menu_header" id="header_club">Товары и услуги</section>
                <section class="menu_item" id="menu_item">
                    <section class="menu_link"><a href="/catalog/" id="menu_link_1" >Товары</a></section>
                    <section class="menu_link"><a href="/catalog1/" id="menu_link_2" >Услуги</a></section>
                    
                </section>
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="team">
                <a href="/contacts/" class="menu_header" id="header_team">Контакты</a>
                
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="multimedia">
                <a href="/aboutUs/" class="menu_header" id="header_multi">О нас</a>
               
            </div>
            <div class="col-lg-1  col-sm-1 col-md-1 col-3 basket"><a  href="/basket/"><img alt="" src="/media/photos/basket.png" /></a></div>

        </div>

    </header>

    <header id="min_header">
        
            <div class=" logo2">
                <a href="/" class="logo" target="_blank"><img src="/media/photos/logo.png" /></a>
                <section class="name">Ferum Bel</section>
            </div>
        

            <div class=" logo3">
        <a id="burger" class="logo" target="_blank"><img alt="" src="/media/photos/burger.png"/></a>
        <section id="min_menu" class="min_menu">
            <section class="min_item">
                <a href="/catalog">Товары</a>
            </section>
            <section class="min_item">
                <a href="/catalog1">Услуги</a>
            </section>
            <section class="min_item">
                <a href="/contacts">Контакты</a>
            </section>
            <section class="min_item">
                <a href="/aboutUs">О нас</a>
            </section>
            <section class="min_item">
                <a href="/basket">Корзина</a>
            </section>
        </section>
    </div>
        
    </header>


<script src="/static/scripts/header.js"></script>


<section class="content">

    <div class="row">
        <section class="col-lg-12  col-sm-12 col-md-12 col-12 text">
            404
        </section>
    </div>

</section>

<footer class="footer">
   
       

    <section class=" phone">
        {{ Text }}
    </section>

    <section class=" instagram">
        <img src="/media/photos/instagram.png" alt="">
    </section>

</footer>

</body>
</html>