{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Продукт</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/registration.css">

</head>
<body>

<script src="/static/scripts/header.js"></script>

<section class="content">


    <section class="mainName">
        <section class="name">
            Регистрация
        </section>
    </section>


    <section id="big_box" class="big_box">

        <section id="button" onclick="location.reload()" class="button">
            Войти
        </section>

        <!--<a target="_blank" href="https://t.me/ferumbel_bot/?start=start">-->
        <!--    <section class="button">-->
        <!--        Зарегистрироваться-->
        <!--    </section>-->
        <!--</a>-->
    </section>

    <section id="autorization" class="autorization">
        <form method="POST">
            {% csrf_token %}
            <section class=" box">
                <section><input type="text" name="login" class="input" placeholder="Логин"></section>
                <section>
                    <input type="text" class="input" name="password" placeholder="Пароль">
                </section>
                <a id="back">
                    <section class="enter">
                        Назад
                    </section>
                </a>
                <a href="/register/" id="back">
                    <button class="enter">
                        Войти
                    </button>
                </a>
            </section>
        </form>

    </section>


    <script src="/static/scripts/registration.js"></script>

</body>
{% endblock %}