body.html {
    height: 100%;
    width: 100%;
}





body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0px;
    background: #F9F5FF;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    text-decoration: none;
}

::placeholder{
    color:#170631;
    
}

.menu_link a {
    text-decoration: none;
   
}




.name{
    margin-top: 15%;
    color:#170631;
    text-align: center;
    font-size: 2em;
}

.autorization{
    position: relative;
    width: 25%;
    left:50%;
    transform:translate3d(-50%,0,0);
}

.box{
   margin-top: 1em;
    padding-top: 4em ;
    padding-bottom: 1em;
    border:solid 2px #170631;
    transition: 100ms ease-in-out;
    border-radius: 1em;
}

.input{
    font-size: 1.2em;
    margin-left:2em;
    margin-bottom: 1em ;
    border:solid 1px #170631;
    transition: 100ms ease-in-out;
    border-radius: 0.3em;
    background: #F9F5FF;
    padding-left: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color:#170631;
    width: 60%;
}

.passoword{
    position: relative;
    display: flex !important;
}


.button{
background-color: #170631;
padding: 0.5em 2em;
color:#FFFFFF;
border:none;
border-radius: 0.5em;
position: relative;
left:50%;
transform:translate3d(-50%,0,0);
}

#check{
    position: relative;
    width: 1.6em !important;
    height: 1.6em !important;
    top: 0.4em;
}



