.basket_name{
    color: #170631 !important;
    margin:2em 0em 1em 4em !important;
    
    font-size: 1.5em;
}

.data{
    margin:2em 0em 1em 6em;
}

.topic{
    display: flex !important;
    margin-top: 2em !important;
}
.topic .name{
    color: #170631 !important;
    font-size: 1.0em;
    width: 10%;
}
.topic .value{
    padding-left: 0.5em;
outline: none !important;
border:none !important;
    border-radius: 0.5em;
    background-color:  #170631;
    color:#FFFFFF;
    width: 250px;
}

.topic .option{
    margin: 0em !important;
    padding: 0em !important;
}

.task{
margin-top: 1em;

}

.comm{
    height: 6em;
}


.result{
    margin-top: 3em;
margin-left: 5em;
    width: 45%;
    border:solid 2px #170631;
    transition: 100ms ease-in-out;
    border-radius: 1em;
    color: #170631 !important;
    font-size: 1.5em;
}

.result .quantity{
    margin: 0.5em;
    padding: 0.5em;
    border-bottom: solid 1px #170631;
    transition: 100ms ease-in-out;

}
.result .money{
    margin: 0.5em;
    padding: 0.5em;


}

.result .button{
    margin: 1em;
    padding: 0.2em 0.5em;

    color:#FFFFFF;
    background-color: #170631;
    border-radius: 0.5em;
    font-size: 0.8em !important;
    width:25%;
    border:none;
}
.result .button:hover{
    margin: 1em;
    padding: 0.2em 0.5em;
    color:#FFFFFF;
    background-color: #170631;
    border-radius: 0.5em;
    font-size: 0.8em !important;
    width:25%;
    border:none;

    text-decoration: underline;

}

#sam {
cursor:pointer;
}

#dos {
    cursor:pointer;

    background-color:#FFFFFF;
    color:#170631;
    }


    .products{
        margin-left: 5em;
        color:#170631;
    }

    .product{
        width: 70%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        display: flex;
        margin-bottom: 1em;
    }

    .param{
        width: 70%;
        display: flex;
    }

    .param .quality{
        position: relative;
        width: 30%;
        text-align: center;
        font-size: 1.5em;
    }

    .conteiner{
        position: relative;
        width: 30%;
        text-align: left;
        padding: 2em;
        font-size: 1.5em;
    }

    .conteiner .name{
        margin-bottom: 1em;
    }

    .quality{
        position: relative;
        width: 30%;
        text-align: center;
        padding: 2em;
        font-size: 2em;
    }

    .delete{
        width: 10%;
        border:none !important;
        background-color: #FFFFFF !important;
        font-size: 2em;
        height: 30px;
    }

  @media(max-width:1400px){

    .topic .name{
        color: #170631 !important;
        font-size: 1.0em;
        width: 20%;
    }
    .topic .value{
        padding-left: 0.5em;
    outline: none !important;
    border:none !important;
        border-radius: 0.5em;
        background-color:  #170631;
        color:#FFFFFF;
        width: 250px;
    }
  }

  @media(max-width:1100px){

    .topic .name{
        color: #170631 !important;
        font-size: 1.0em;
        width: 20%;
    }
    .topic .value{
        padding-left: 0.5em;
    outline: none !important;
    border:none !important;
        border-radius: 0.5em;
        background-color:  #170631;
        color:#FFFFFF;
        width: 250px;
    }

    .result{
        margin-top: 3em;
    margin-left: 5em;
        width: 55%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        border-radius: 1em;
        color: #170631 !important;
        font-size: 1.2em;
    }

    .result .quantity{
        margin: 0.5em;
        padding: 0.5em;
        border-bottom: solid 1px #170631;
        transition: 100ms ease-in-out;

    }
    .result .money{
        margin: 0.5em;
        padding: 0.5em;


    }

    .result .button{
        margin: 1em;
        padding: 0.2em 0.5em;

        color:#FFFFFF;
        background-color: #170631;
        border-radius: 0.5em;
        font-size: 0.8em !important;
        width:40%;
        border:none;
    }

    .products{
        margin-left: 5em;
        color:#170631;
    }

    .product{
        width: 70%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        display: flex;
        margin-bottom: 1em;
    }

    .param{
        width: 70%;
        display: flex;
    }

    .param .quality{
        position: relative;
        width: 30%;
        text-align: center;
        font-size: 1.5em;
    }

    .conteiner{
        position: relative;
        width: 30%;
        text-align: left;
        padding: 2em;
        font-size: 1.2em;
    }

    .conteiner .name{
        margin-bottom: 1em;
    }

    .quality{
        position: relative;
        width: 30%;
        text-align: center;
        padding: 2em;
        font-size: 1.5em;
    }

    .delete{
        width: 10%;
        border:none !important;
        background-color: #FFFFFF !important;
        font-size: 2em;
        height: 20px;
    }
  }


  @media(max-width:800px){

    .basket_name{
        color: #170631 !important;
        margin:2em 0em 1em 2em !important;

        font-size: 1.2em;
    }

    .topic .name{
        color: #170631 !important;
        font-size: 1.0em;
        width: 40%;
    }
    .topic .value{
        padding-left: 0.5em;
    outline: none !important;
    border:none !important;
        border-radius: 0.5em;
        background-color:  #170631;
        color:#FFFFFF;
        width: 200px;
    }

    .result{
        margin-top: 3em;
    margin-left: 5em;
        width: 55%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        border-radius: 1em;
        color: #170631 !important;
        font-size: 1.2em;
    }

    .result .quantity{
        margin: 0.5em;
        padding: 0.5em;
        border-bottom: solid 1px #170631;
        transition: 100ms ease-in-out;

    }
    .result .money{
        margin: 0.5em;
        padding: 0.5em;


    }

    .result .button{
        margin: 1em;
        padding: 0.2em 0.5em;

        color:#FFFFFF;
        background-color: #170631;
        border-radius: 0.5em;
        font-size: 0.8em !important;
        width:40%;
        border:none;
    }

    .products{
        margin-left: 5em;
        color:#170631;
    }

    .product{
        width: 90%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        display: flex;
        margin-bottom: 1em;
    }

    .param{
        width: 90%;
        display: flex;
    }

    .param .quality{
        position: relative;
        width: 30%;
        text-align: center;
        font-size: 1.2em;
    }

    .conteiner{
        position: relative;
        width: 30%;
        text-align: left;
        padding: 2em;
        font-size: 1.0em;
    }

    .conteiner .name{
        margin-bottom: 1em;
    }

    .quality{
        position: relative;
        width: 30%;
        text-align: center;
        padding: 2em;
        font-size: 1.2em;
    }

    .delete{
        width: 10%;
        border:none !important;
        background-color: #FFFFFF !important;
        font-size: 2em;
        height: 20px;
    }
  }

  @media(max-width:600px){

    .data{
        margin:2em 0em 1em 3em;
    }

    .topic .name{
        color: #170631 !important;
        font-size: 1.0em;
        width: 40%;
    }
    .topic .value{
        padding-left: 0.5em;
    outline: none !important;
    border:none !important;
        border-radius: 0.5em;
        background-color:  #170631;
        color:#FFFFFF;
        width: 175px;
    }

    .result{
        margin-top: 3em;
    margin-left: 3em;
        width: 80%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        border-radius: 1em;
        color: #170631 !important;
        font-size: 1.0em;
    }

    .result .quantity{
        margin: 0.5em;
        padding: 0.5em;
        border-bottom: solid 1px #170631;
        transition: 100ms ease-in-out;

    }
    .result .money{
        margin: 0.5em;
        padding: 0.5em;


    }

    .result .button{
        margin: 1em;
        padding: 0.2em 0.5em;

        color:#FFFFFF;
        background-color: #170631;
        border-radius: 0.5em;
        font-size: 0.8em !important;
        width:40%;
        border:none;
    }

    .products{
        margin-left: 3em;
        color:#170631;
    }

    .product{
        width: 95%;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        display: flex;
        margin-bottom: 1em;
    }

    .param{
        width: 95%;
        display: flex;
    }

    .param .quality{
        position: relative;
        width: 30%;
        text-align: center;
        font-size: 1.0em;
    }

    .conteiner{
        position: relative;
        width: 30%;
        text-align: left;
        padding: 1.5em;
        font-size: 1.0em;
    }

    .conteiner .name{
        margin-bottom: 1em;
    }

    .quality{
        position: relative;
        width: 30%;
        text-align: center;
        padding: 1.5em;
        font-size: 1.1em;
    }

    .delete{
        width: 10%;
        border:none !important;
        background-color: #FFFFFF !important;
        font-size: 1.5em;
        height: 10px;
    }
  }

