#contacts{
    border-bottom:solid 2px #FFFFFF;
    
}

.contacts{
    margin: 5em 0em!important;
    color:#170631;
    padding: 0% 10%;
}

.contact{
    flex-wrap: wrap;
    display:flex;
    margin: 6em 0em!important;
}

.Name{
    text-align: center;
    font-size:1.5em;
}
.value{
    text-align: right;
    font-size:1.5em;
}
.url{
    border-radius: 100px;
            margin-left: 30px;
            width: 120px;
            padding: 0.3em 0em;
            text-align: center;
            color:#FFFFFF;
            background-color: #34205c;
            font-size: 1.2em;
            border:none !important;
}

.url:hover{
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
            background-color: #5a399d;
            transition: 100ms ease-in-out;
}



@media(max-width:900px){
    .contacts{
        margin: 1em 0em!important;
        color:#170631;
        padding: 0% 10%;
    }

    .Name{
        text-align: center;
        font-size:1.2em;
        width: 50%;
    }
    .value{
        text-align: right;
        font-size:1.2em;
        width: 50%;
        text-align: center;
    }

   .url {
        margin: 0 auto;
        margin-top: 1em;
   }
    
}