.first_level{
   
    color:#170631;
    display: flex;
}
.second_level{
    width:50%;
    color:#170631;
    margin-top: 2em;
    padding-left:4em;
    font-size: 1.2em;
}
.third_level{
    color:#170631;
    margin: 2em 4em !important;
    display: flex;
}


.first_level .value{
position: relative;
width: 80%;
    padding-left: 4em;
    padding-top: 4em;
}

.value .photos .photo {
width: 350px;
height: 350px;
}

img{
    width: 100%;
    height: auto;
    position: relative;
    left:50%;
    transform: translate3d(-50%,0,0);
}



.value .information{
margin-top: 1em;

}

.value .information .code{
    font-size: 1.2em;
    }

    .value .information .price{
        margin-top: 0.5em;
        font-size: 2em;
    }

    .button{
        padding-top: 2em;
       
    }

    .button .text{
        border:none !important;
        border-radius: 100px;
        width: 80px;
        padding: 0.2em 0em;
        text-align: center;
        color:#FFFFFF;
        background-color: #170631;
        font-size: 1.2em;
        }

        .third_level .value{
            width: 70px;
            border:solid 2px #170631;
            transition: 100ms ease-in-out;
            border-radius: 10px;
            background-color:#FFFFFF !important;
        }
        
        .push{
            border-radius: 100px;
            width: 180px;
            padding: 0.3em 0em;
            text-align: center;
            color:#FFFFFF;
            background-color: #170631;
            font-size: 1.2em;
            border:none !important;
        }

.stab{
    position: relative;
    width: 68%;
}

.text{
    padding-top: 2px;
    width:10%;
    font-size: 1.2em;
}

.input{
    padding-top: 2px;
    width:15%;
}

.input .value{ 
    position: relative;
    left: 50%;
    transform:translate3d(-70%,0,0);
    width: 60%;
    text-align: center;

}


@media(max-width: 1100px){
    .value .photos .photo {
        width: 250px;
        height: 250px;
        }

        .second_level{
            width:70%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 2px;
            width:15%;
            font-size: 1.2em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.7em;
        }

        .input{
            padding-top: 2px;
            width:20%;
        }

}

@media(max-width: 700px){
    .value .information .code{
        font-size: 1.0em;
        }
    .value .photos .photo {
        width: 150px;
        height: 150px;
        }

        .second_level{
            width:70%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 3px;
            width:20%;
            font-size: 1.0em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.5em;
        }

        .button .text{
            border:none !important;
            border-radius: 100px;
            width: 80px;
            padding: 0.2em 0em;
            text-align: center;
            color:#FFFFFF;
            background-color: #170631;
            font-size: 1.0em;
            }
            
            .push{
                border-radius: 100px;
                width: 180px;
                padding: 0.3em 0em;
                text-align: center;
                color:#FFFFFF;
                background-color: #170631;
                font-size: 1.0em;
                border:none !important;
            }

            .input{
                padding-top: 2px;
                width:30%;
            }
}

@media(max-width: 500px){
    .first_level .value{
        position: relative;
        width: 70%;
            padding-left: 4em;
            padding-top: 4em;
        }
    .value .information .code{
        font-size: 1.0em;
        }
    .value .photos .photo {
        width: 150px;
        height: 150px;
        }

        .second_level{
            width:80%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 3px;
            width:30%;
            font-size: 1.0em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.5em;
        }

        .button .text{
            border:none !important;
            border-radius: 100px;
            width: 80px;
            padding: 0.2em 0em;
            text-align: center;
            color:#FFFFFF;
            background-color: #170631;
            font-size: 1.0em;
            }
            
            .push{
                border-radius: 100px;
                width: 180px;
                padding: 0.3em 0em;
                text-align: center;
                color:#FFFFFF;
                background-color: #170631;
                font-size: 0.9em;
                border:none !important;
            }

            .input{
                padding-top: 2px;
                width:30%;
            }
}