.first_level{
   
    color:#170631;
    display: flex;
}
.second_level{
    width:50%;
    color:#170631;
    margin-top: 2em;
    text-align: justify;
    padding-left:4em;
    font-size: 1.2em;
}
.third_level{
    color:#170631;
    margin: 2em 4em !important;
    display: flex;
}


.first_level .value{
    position: relative;
    padding-top: 4em;
    width: 90%;
    margin: 0 auto;
}

.value .photos_gallery {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}


.value .photos .photo {
width: 25%
height: 400px;
}

.photos_gallery .good_image{
    width: 45%;
    height: auto;
    position: relative;
}



/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 2px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.6;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.gallery_container {
    position: relative;
    width: 65%;
    margin: 0 auto;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 0px;
    opacity: 0.7;
    right: 30px;
    color: #000;
    font-size: 40px;
    cursor: pointer;
}

.gallery_of_photos {
    width: 90%;
    margin: 0 auto;
}




.value .information{
    margin-top: 1em;
    margin-left: 4em;

}

.value .information .code{
    font-size: 1.2em;
    }

    .value .information .price{
        margin-top: 0.5em;
        font-size: 2em;
    }

    .button{
        margin-top: 0.5em;
        margin-right: 10px;
        text-align: right;
       
    }

    .button .text{
         border-radius: 100px;
            width: 86px;
            padding: 0.3em 0.4em;
            text-align: center;
            color:#FFFFFF;
            background-color: #34205c;
            font-size: 1em;
            border:none !important;
        }

        .button .text:hover {
            box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
            background-color: #5a399d;
            transition: 100ms ease-in-out;
        }

        .third_level .value{
            width: 70px;
            border:solid 2px #170631;
            transition: 100ms ease-in-out;
            border-radius: 10px;
            background-color:#FFFFFF !important;
        }
        
        .push{
            border-radius: 100px;
            width: 180px;
            padding: 0.3em 0em;
            text-align: center;
            color:#FFFFFF;
            background-color: #34205c;
            font-size: 1.2em;
            border:none !important;
        }
        .push:hover {
            box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
            background-color: #5a399d;
            transition: 100ms ease-in-out;
            }

.back_logo {
    height: 25px;
    width: 25px;
    left: 0;

}


.stab {
    position: relative;
    width: 68%;
}

.text{
    padding-top: 2px;
    width:10%;
    font-size: 1.2em;
}


.input{
    padding-top: 2px;
    width:15%;
}

.input .value{ 
    position: relative;
    left: 50%;
    transform:translate3d(-70%,0,0);

    text-align: center;

}


@media(max-width: 1100px){
    .value .photos .photo {
        width: 250px;
        height: 250px;
        }

        .second_level{
            width:70%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 2px;
            width:15%;
            font-size: 1.2em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.7em;
        }

        .input{
            padding-top: 2px;
            width:20%;
        }

}

@media(max-width: 700px){
    .value .information .code{
        font-size: 1.0em;
        }
    .value .photos .photo {
        width: 150px;
        height: 150px;
        }

        .second_level{
            width:70%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 3px;
            width:20%;
            font-size: 1.0em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.5em;
        }

        .button .text{
            border:none !important;
            border-radius: 100px;
            text-align: center;
            color:#FFFFFF;
            font-size: 1.0em;
            }

            .gallery_container {
                 width: 85%;

            }
            
            .push{
                border-radius: 100px;
                width: 180px;
                padding: 0.3em 0em;
                text-align: center;
                color:#FFFFFF;
                background-color: #34205c;
                font-size: 1.0em;
                border:none !important;
            }


            .input{
                padding-top: 2px;
                width:30%;
            }
}

@media(max-width: 500px){
    .first_level .value{
        position: relative;
            padding-top: 4em;
        }

        .gallery_container {
                 width: 100%;

            }

        .third_level{
            margin: 2em 2em !important;
        }
    .value .information .code{
        font-size: 1.0em;
        }
    .value .photos .photo {
        width: 150px;
        height: 150px;
        }

        .second_level{
            width:80%;
            color:#170631;
            margin-top: 2em;
            padding-left:3.5em;
            font-size: 1.0em;
        }
        .text{
            padding-top: 3px;
            width:30%;
            font-size: 1.0em;
        }
        .value .information .price{
            margin-top: 0.5em;
            font-size: 1.5em;
        }

    .column {
        padding: 2px;
        width: 50%;
    }


        .button .text{
            border:none !important;
            border-radius: 100px;
            text-align: center;
            color:#FFFFFF;
            font-size: 1.0em;
            }
            
            .push{
                border-radius: 100px;
                width: 120px;
                padding: 0.3em 0em;
                text-align: center;
                color:#FFFFFF;
                font-size: 0.9em;
                border:none !important;
            }

            .input{
                padding-top: 2px;
                width:30%;
            }
}

.instagram {
    padding-top: 60px;
    width: 30%;
    text-align: left !important;
}


