body.html {
    height: 100%;
    width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0px;
    background: #F9F5FF;
    color:#170631;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    text-decoration: none;
}

::placeholder{
    color:#170631;
    
}

a {
    text-decoration: none !important; 
    transition: ease 10ms;
    color:#170631 ;
}

.header{
    display:flex;
    border-bottom:solid 1px #170631;
    transition: 100ms ease-in-out;
    padding: 1em 0em;
}

.main_name{
    position: relative;
    width: 30%;
    font-size: 2.5em;
    color:#170631;
    text-align: center;
    
}

.all{
    width: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.top{
    width: 20%;
    margin-left: 2em;
    padding-top: 0.8em;
    font-size: 1.5em;
    color:#170631;
    text-align: center;
    cursor: pointer;
}

.exit{
    position: relative;
    width: 30%;

    padding-top: 1em;
    font-size: 1.2em;
    color:#170631;
    text-align: center;
    cursor: pointer;

    border: none;
    background-color:  #F9F5FF;
}




.pages{
    display:flex;
    margin-top: 2.5em;
    margin-left: 2em;
    flex-wrap: wrap;
}


.page{
    color:#170631 !important;
    font-size: 1.2em;
    width: 15%;
    text-align: center;
    cursor: pointer;
}

#active{
    text-decoration: underline;   
}











