.big_box{
    margin: 8em 0em;
    position: relative;
    width: 60%;
   
   
    left:50%;
    transform: translate3d(-50%,0,0);
}


.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #34205c;
  border-radius: 0.6em;
  color: #34205c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px auto;
  padding: 1.2em 20%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #34205c;
  outline: 0;
}

.fifth {
  border-color: #34205c;
  border-radius: 0;
  color: #34205c;
  position: relative;
  overflow: hidden; btn fifth
  z-index: 1;
  width: fit-content;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #34205c;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}



.button{
    margin: 2em 4em;
   color:#FFFFFF;
   background-color: #34205c;
   border-radius: 20px;
text-align: center;
   padding: 2em 0em;
   font-size: 1.5em;
}

.button:hover{
    cursor: pointer;
    margin: 2em 4em;
   color:#FFFFFF;
   background-color: #170631;
   border-radius: 20px;
    text-align: center;
   padding: 2em 0em;
   font-size: 1.5em;
   text-decoration: underline;
}




@media(max-width:900px){

    .big_box{
        margin: 8em 0em;
        position: relative;
        width: 70%;
       
       
        left:50%;
        transform: translate3d(-50%,0,0);
    }
    
    .button{
        margin: 2em 4em;
       color:#FFFFFF;
       background-color: #170631;
       border-radius: 20px;
    text-align: center;
       padding: 2em 0em;
       font-size: 1.2em;
    }
    .button:hover{
        margin: 2em 4em;
       color:#FFFFFF;
       background-color: #170631;
       border-radius: 20px;
    text-align: center;
       padding: 2em 0em;
       font-size: 1.2em;
       text-decoration: underline;
    }
}


@media(max-width:500px){

    .big_box{
        margin: 8em 0em;
        position: relative;
        width: 80%;
       
       
        left:50%;
        transform: translate3d(-50%,0,0);
    }
    
    .button{
        margin: 2em 4em;
       color:#FFFFFF;
       background-color: #170631;
       border-radius: 20px;
    text-align: center;
       padding: 1.5em 0em;
       font-size: 1.0em;
    }
    .button:hover{
        margin: 2em 4em;
       color:#FFFFFF;
       background-color: #170631;
       border-radius: 20px;
        text-align: center;
       padding: 1.5em 0em;
       font-size: 1.0em;
       text-decoration: underline;
    }
}

.autorization{
    position: relative;
    width: 25%;
    left:50%;
    transform:translate3d(-50%,0,0);
    display: none;

    margin: 8em 0em;
}

.box{
    margin-top: 1em;
    padding-top: 4em ;
    padding-bottom: 1em;
    border:solid 1px #34205c;
    transition: 100ms ease-in-out;
    border-radius: 1em;
}

.input{
    font-size: 1.2em;
    margin-left:2em;
    margin-bottom: 1em ;
    border:solid 1px #170631;
    transition: 100ms ease-in-out;
    border-radius: 0.3em;
    background: #FFFFFF;
    padding-left: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color:#170631;
    width: 80%;
}

.passoword{
    position: relative;
    display: flex !important;
}



.enter{
    position: relative;
    width: 80%;
    color:#FFFFFF !important;
    background: #34205c !important;
    padding: 1em 0em !important;
    text-align: center;
    border-radius: 0.5em;
    left:50%;
    transform: translate3d(-50%,0,0);
    margin: 0.5em 0em;
}

.enter:hover{
    position: relative;
    color:#FFFFFF !important;
    padding: 1em 0em !important;
    text-align: center;
    border-radius: 0.5em;
    left:50%;
    transform: translate3d(-50%,0,0);
    }
    

@media(max-width:1200px){
    .autorization{
        position: relative;
        width: 40%;
        left:50%;
        transform:translate3d(-50%,0,0);
        display: none;
    
        margin: 11em 0em;
    }
    
    .box{
       margin-top: 1em;
        padding-top: 4em ;
        padding-bottom: 1em;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        border-radius: 1em;
    }
    
    .input{
        font-size: 1.2em;
        margin-left:2em;
        margin-bottom: 1em ;
        border:solid 1px #170631;
        transition: 100ms ease-in-out;
        border-radius: 0.3em;
        background: #FFFFFF;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color:#170631;
    }
    
    .passoword{
        position: relative;
        display: flex !important;
    }
    
    
    
    .enter{
    
    position: relative;
    
    width: 80%;
    
    
    color:#FFFFFF !important;
    background: #170631 !important;
    
    width: 60%;
    
    padding: 0.5em 0em !important;
    text-align: center;
    border-radius: 0.5em;
    left:50%;
    transform: translate3d(-50%,0,0);
    margin: 0.5em 0em;
    }
    .enter:hover{
    
        position: relative;
        
        width: 80%;
        
        
        color:#FFFFFF !important;
        background: #170631 !important;
        
        width: 60%;
        
        padding: 0.5em 0em !important;
        text-align: center;
        border-radius: 0.5em;
        left:50%;
        transform: translate3d(-50%,0,0);
        margin: 0.5em 0em;
        text-decoration: underline;
        }
        
}

@media(max-width:700px){
    .autorization{
        position: relative;
        width: 60%;
        left:50%;
        transform:translate3d(-50%,0,0);
        display: none;
    
        margin: 11em 0em;
    }
    
    .box{
       margin-top: 1em;
        padding-top: 3em ;
        padding-bottom: 1em;
        border:solid 2px #170631;
        transition: 100ms ease-in-out;
        border-radius: 1em;
    }
    
    .input{
        font-size: 1.0em;
        margin-left:1.5em;
        margin-bottom: 1em ;
        border:solid 1px #170631;
        transition: 100ms ease-in-out;
        border-radius: 0.3em;
        background: #FFFFFF;
        padding-left: 1em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        color:#170631;
    }
    
    .passoword{
        position: relative;
        display: flex !important;
    }
    
    
    .enter{
    
    position: relative;
    
    width: 80%;
    
    
    color:#FFFFFF !important;
    background: #170631 !important;
    
    width: 60%;
    
    padding: 0.5em 0em !important;
    text-align: center;
    border-radius: 0.5em;
    left:50%;
    transform: translate3d(-50%,0,0);
    margin: 0.5em 0em;
    }

    .enter:hover{
    
        position: relative;
        
        width: 80%;
        
        
        color:#FFFFFF !important;
        background: #170631 !important;
        
        width: 60%;
        
        padding: 0.5em 0em !important;
        text-align: center;
        border-radius: 0.5em;
        left:50%;
        transform: translate3d(-50%,0,0);
        margin: 0.5em 0em;
        text-decoration: underline;
        }
    
}