<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OOO"ФерумБел"</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/autorization_admin.css">
</head>
<body>
    <section class="name">
        ООО "ФерумБел"
    </section>
<section class="autorization">
    
    <section class=" box">
        <section><input type="text" class="input"  placeholder="Login"></section>
        <section>
            <input id="password" type="password" class="input"  placeholder="Password">
            <input type="checkbox" id="check"  placeholder="Password" >
        </section>
        
        <a href="../templates/activeOrders_admin.html">
            <button class="button">
                Enter
            </button>
        </a>
    </section>
    
</section>


<script src="../scripts/autarization_admin.js"></script>

</body>
</html>

