<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OOO"ФерумБел"</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/Order_admin.css">
    <link rel="stylesheet" href="/static/styles/header_admin.css">
</head>
<body>

<header class="header">

    <section class="all">
        <section class="main_name">
            ООО"ФерумБел"
        </section>
        <section class="top" id="active">
            Заказы
        </section>
    </section>

    <button class="exit">
        <a class="dropdown-item" href="{% url "logout" %}">
            Выход
        </a>
    </button>


</header>

<section class="pages">
    <section class="page">
        <a href="/activeOrders/">Активные</a>
    </section>
    <section class="page">
        <a href="/confirmedOrders/">Подтверждённые</a>
    </section>
    <section class="page">
        <a href="/deletedOrders/">Удалённые</a>
    </section>
</section>

<section id="main_name">
    #{{ profile.id }} Подтвержденный товар
</section>

<section class="but">
    <a href="/confirmedOrders/" class="back">Назад</a>
</section>

<section class="data">


    <section class="topic row">
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 name">Ф.И.О.</section>
        <input readonly class="col-lg-2  col-sm-2 ol-md-2 col-2 value" value="{{ profile.name }}"></input>
    </section>
    <section class="topic row">
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 name">Телефон</section>
        <input readonly class="col-lg-2  col-sm-2 ol-md-2 col-2 value" value="{{ profile.phone }}"></input>
    </section>
    <section class="topic row">
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
        <section class="col-lg-1  col-sm-1 ol-md-1 col-1 name">Способ доставки</section>
        <section class="col-lg-3  col-sm-3 col-md-3 col-3 option">
            {% if punt %}
                <section class="task">
                    <input id="sam" name="ch" value="{{ False }}" class="radiobut" type="radio"></input>
                    <input readonly value="Самовывоз" class="value"></input>
                </section>
                <section class="task">
                    <input id="dos" name="ch" checked class="radiobut" value="{{ True }}" type="radio"></input>
                    <input readonly value="Доставка" class="value"></input>
                </section>
                {% else %}
                <section class="task">
                    <input id="sam" name="ch" value="{{ False }}" checked  class="radiobut" type="radio"></input>
                    <input readonly value="Самовывоз" class="value"></input>
                </section>
                <section class="task">
                    <input id="dos" name="ch" class="radiobut" value="{{ True }}" type="radio"></input>
                    <input readonly value="Доставка" class="value"></input>
                </section>
                {% endif %}
        </section>
    </section>
    <section id="adres" class="topic row">
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 name">Адрес</section>
        <input readonly class="col-lg-2  col-sm-2 ol-md-2 col-2 value" value="{{ profile.adress }}"></input>
    </section>
    <section class="topic row">
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
        <section class="col-lg-1 col-sm-1 ol-md-1 col-1 name ">Комментарий к заказу</section>
        <textarea readonly class="col-lg-2  col-sm-2 ol-md-2 col-2 value comm">{{ profile.comment }}</textarea>
    </section>

</section>

<section class="topic row">
    <section class="col-lg-1 col-sm-1 ol-md-1 col-1 "></section>
    <section id="name" class="col-lg-2  col-sm-2 ol-md-2 col-2 name ">Товары:</section>
</section>


<section class="products">
    <section class="param">
        <section class="conteiner">
            <section class="name"></section>
            <section class="name"></section>
        </section>
        <section class="quality">Количество</section>
        <section class="quality">Цена</section>
    </section>
    {% for purchase in purchases %}
        <section class="product">
            <section class="conteiner">
                <section class="name"> {{ purchase.product.name }}</section>
                <section class="name">Код товара: №{{ purchase.product.id }} </section>
            </section>
            <section class="quality">{{ purchase.count }}</section>
            <section class="quality">{{ purchase.coast }}р.</section>

        </section>
    {% endfor %}
</section>


<script src="/static/scripts/activeOrder_admin.js"></script>

<section class="result">
    <section class="quantity">{{ count }} товар(а)</section>
    <section class="money">Итог: {{ sum }} р.</section>
    <form method="POST">
        {% csrf_token %}
        <button class="button" name="action" value="vosstan">Переместить в активные</button>
</section>


<section class="but">
    <button class="but_delete" name="action" value="delete">Удалить</button>
    </form>
</section>


</body>
</html>
