.data{
    margin:0em 0em 1em 2em;
}

.topic{
    display: flex;
    margin-top: 2em !important;
    width: 100%;
}
.topic .name{
    color:#170631 ;
    font-size: 1.0em;
    text-align: left;
}
.topic .value{
    padding-left: 0.5em;
    border-radius: 0.5em;
    background-color: #170631;
    color:#FFFFFF;
    outline: none !important;
border:none !important;
}

.topic .option{
    margin: 0em !important;
    padding: 0em !important;
}

.task{
margin-top: 1em;

}

.comm{
    height: 6em;
}


.result{
    margin-top: 3em;
margin-left: 4em;
    width: 45%;
    border:solid 2px #170631;
    transition: 100ms ease-in-out;
    border-radius: 1em;
    color: #170631!important;
    font-size: 1.2em;
}

.result .quantity{
    margin: 0.5em;
    padding: 0.5em;
    border-bottom: solid 1px #170631;
    transition: 100ms ease-in-out;
    
}
.result .money{
    margin: 0.5em;
    padding: 0.5em;
    
    
}

.result .button{
    margin: 1em;
    padding: 0.3em 0.6em;
    
    color:#F9F5FF;
    background-color: #170631;
    border-radius: 0.5em;
    font-size: 0.8em !important;
    width:25%;

    
    
}

#sam {
cursor:pointer;
background-color: #F9F5FF !important;
}
#dos {
    cursor:pointer;
    background-color: #F9F5FF !important;
    }



#name{
    margin-top: 2em;
    margin-left: 1em;
    font-size: 1.5em;
}




.products{
    margin-left: 5em;
}

.product{
    width: 70%;
    border:solid 2px #170631;
    transition: 100ms ease-in-out;
    display: flex;
    margin-bottom: 1em;
}

.param{
    width: 70%;
    display: flex;
}

.param .quality{
    position: relative;
    width: 30%;
    text-align: center;
    font-size: 1.2em;
}

.conteiner{
    position: relative;
    width: 30%;
    text-align: left;
    padding: 2em;
    font-size: 1.2em;
}

.conteiner .name{
    margin-bottom: 1em;
}

.quality{
    position: relative;
    width: 30%;
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
}

.delete{
    width: 10%;
    border:none !important;
    background-color: #F9F5FF !important;
    font-size: 2em;
    height: 30px;
   
}

#main_name{
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    font-weight: bolder;
    }
    
    .but{
        text-align: right;
    
    }

.back{
    margin: 0em 1em;
    padding: 0.5em 1.5em;
    color:#F9F5FF;
    background-color: #170631;
    border-radius: 0.5em;
    font-size: 1.2em !important;
    width:120px;
    margin-right: 4em;
}

.but_delete{
    margin: 2em 1em;
    padding: 0.3em 0.6em;
    color:#F9F5FF;
    background-color: #AD1616;
    border-radius: 0.5em;
    font-size: 1.2em !important;
    width:120px;
    margin-right: 4em;
    outline: none !important;
border:none !important;
}

.button{
    outline: none !important;
border:none !important;
font-size: 1.2em;
}


.plus{
    position: relative;
  

   border:none !important;

    background-color: #F9F5FF !important;
    font-size: 3em;
    
   
}

#delete_result{
    margin-bottom: 2em;
}








    





