#contacts{
    border-bottom:solid 2px #FFFFFF;
    
}

.contacts{
    margin: 5em 0em!important;
    color:#170631;
    padding: 0% 10%;
}

.contact{
    flex-wrap: wrap;
    display:flex;
    margin: 6em 0em!important;
}

.Name{
    text-align: center;
    font-size:1.5em;
}
.value{
    text-align: right;
    font-size:1.5em;
}
.url{
    cursor: pointer;
    color:#170631 !important;
    font-weight: bolder;
    left: 2em;
    padding-top: 0.3em;
    border-radius: 0.8em;
    border:solid 1px #170631;
    transition: 100ms ease-in-out;
    background-color: #FFFFFF;
    width: 180px;
    text-align: center;
    font-size:1em;
}

.url:hover{
    cursor: pointer;
    left: 2em;
    padding-top: 0.3em;
    border-radius: 0.8em;
    border:solid 1px #170631;
    transition: 100ms ease-in-out;
    background-color: #170631;
    color:#FFFFFF!important;
    width: 180px;
    text-align: center;
    font-size:1em;
    font-weight:bold;
}



@media(max-width:900px){
    .contacts{
        margin: 1em 0em!important;
        color:#170631;
        padding: 0% 10%;
    }

    .Name{
        text-align: center;
        font-size:1.2em;
        width: 50%;
    }
    .value{
        text-align: right;
        font-size:1.2em;
        width: 50%;
        text-align: center;
    }

    .url{
        top:1em;

        cursor: pointer;
        color:#170631 !important;
        font-weight: bolder;
        left: 2em;
        padding-top: 0.3em;
        border-radius: 0.8em;
        border:solid 1px #170631;
        transition: 100ms ease-in-out;
        background-color: #FFFFFF;
        width: 180px;
        text-align: center;
        font-size:1em;
       left:50%;
       transform: translate3d(-50%,0,0);

    }

    .url:hover{
        top:1em;
        cursor: pointer;
        left: 2em;
        padding-top: 0.3em;
        border-radius: 0.8em;
        border:solid 1px #170631;
        transition: 100ms ease-in-out;
        background-color: #170631;
        color:#FFFFFF!important;
        width: 180px;
        text-align: center;
        font-size:1em;
        font-weight:bold;
        left:50%;
       transform: translate3d(-50%,0,0);
    }
    
}