<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<body>
  <img src="/media/inzhenernii_fon.jpg" style="
                overflow: hidden;
                z-index: -5;
                position:fixed;
                height: auto;
                opacity: 0.2;
                left:50%;
                top:60%;
                transform: translate3d(-50%,-50%,0);
                ">
  {% include "header.html" %}

    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
</body>
</html>