<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Продукты</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/goods.css">
    
</head>
<body>

    <header id="header">
        <div class="row">
            
            <div class="col-lg-3 col-sm-3 col-md-3 col-5 logo2" >
                
                <a href="../templates/index.html" class="logo" ><img src="../photos/logo.png" /></a>
                <a href="../templates/index.html" class="name">Ferum Bel</a>
                
            </div>

            <div class="col-lg-1 col-sm-1 col-md-0 col-1 ">
                
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="products">
                <section class="menu_header" id="header_club">Товары и услуги</section>
                <section class="menu_item" id="menu_item">
                    <section class="menu_link"><a href="../templates/goods.html" id="menu_link_1" >Товары</a></section>
                    <section class="menu_link"><a href="../templates/goods.html" id="menu_link_2" >Услуги</a></section>
                    
                </section>
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="team">
                <a href="../templates/contacts.html" class="menu_header" id="header_team">Контакты</a>
                
            </div>
            <div class="col-lg-2 col-sm-2  col-md-2 col-4 menu" id="multimedia">
                <a href="../templates/aboutUs.html" class="menu_header" id="header_multi">О нас</a>
               
            </div>
            <div class="col-lg-2  col-sm-2 col-md-2 col-4 basket"><a  href="../templates/basket.html"><img alt="" src="../photos/basket.png" /></a></div>

        </div>

    </header>

    <header id="min_header">
        
            <div class=" logo2">
                <a class="logo" target="_blank"><img src="../photos/logo.png" /></a>
                <section class="name">Ferum Bel</section>
            </div>
        

            <div class=" logo3">
                <a id="burger" class="logo" target="_blank"><img src="../photos/burger.png" /></a>
               <section id="min_menu" class="min_menu">
                <section class="min_item">
                    Товары
                </section>
                <section class="min_item">
                    Услуги
                </section>
                <section class="min_item">
                    Контакты
                </section>
                <section class="min_item">
                    О нас
                </section>
                <section class="min_item">
                    Корзина
                </section>
               </section>
            </div>
        
    </header>


<script src="../scripts/header.js"></script>

<section class="content">



<section class="mainName">
    <section class="name">
        Товары
    </section>
</section>


<section class="row string">
    
    <section class="col-lg-3  col-sm-3 col-md-3 col-3 mainFilter">
        

    </section>
    
    
    <section class="col-lg-2  col-sm-2 col-md-2 col-2">
        <button class="button">
            Применить
        </button>
    </section>
</section>

<script src="../scripts/goods.js"></script>

<section class="products">

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

    <a href="../templates/good.html" class=" product">
        <section class="min_product">
            <section class="photo">
                <img src="../photos/product.png" alt="">
            </section>
            <section class="coast">
                130р.
            </section>
            <section class="name">
                Мангал
            </section>
        </section>
    </a>

</section>


</section>



<footer class="footer">
   
       

        <section class=" phone">
            Телефон горячей линии: 80(29)131-13-13
        </section>

        <section class=" instagram">
            <img src="../photos/instagram.png" alt="">
        </section>
    
</footer>



</body>
</html>