{% extends "base.html" %}
{% block content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ products.name }}</title>
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/ico" href="/media/photos/favicon.ico"/>
    {#    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">#}
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/good.css">

</head>
<body>

<script src="/static/scripts/header.js"></script>

<section class="content">
            {% if a %}
            <div class="alert alert-success">
                Заказ добавлен в корзину
            </div>
            {% endif %}

    <section class="mainName">
        <section class="name">
            {{ products.name }}
        </section>
    </section>


    <section class=" first_level">
        <section class=" value">
            <section class="photos">

                <section class="arr">

                </section>
                
                <section class="photo" id="section"  >
                    <section id="blocks">
                        <section class="block"></section>
                        <section class="block"></section>
                        <section class="block"></section>
                        <section class="block"></section>
                    </section>
                </section>
                <section style="display: none;">
                    {% for photo in photos %}
                        <img class="image" src="{{ photo.photo.url }}" alt="">
                    {% endfor %}
                </section>

    <script>

        let section = document.getElementById("section")
        section.style.backgroundImage=`url("{{ products.Image.url }}")`
        let blocks=document.getElementsByClassName("block")
        let image=document.getElementsByClassName("image")
        for (let i=0;i<blocks.length;i++){
            blocks[i].onmouseover=()=>{
                section.style.backgroundImage=`url(${image[i].src})`
            }

        }
    </script>
                

                <section class="arr">

                </section>

            </section>
            <section class="information">

                <section class="code">
                    Код товара: №{{ products.id }}
                </section>

                <section class="price">
                    {{ products.coast }} руб.
                </section>

            </section>
        </section>
        <a href="/catalog/">
            <section class="button">
                <button class="text">
                    Назад
                </button>
            </section>
        </a>
    </section>
            <form method="POST">
                    {% csrf_token %}
    <section class="second_level">
        <section class="discription">
            {{ products.description|linebreaks }}
        </section>
    </section>

        <section class=" third_level">


            <section class=" text">
                Количество:
            </section>

            <section class="input">
                <input type="number" value="1" name="count" class=" value">
                </input>
            </section>


            <button class=" push" name="action" value="dop">
                Добавить в корзину
            </button>

        </section>

</form>
</section>
            


</body>
{% endblock %}